<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= Setting.first.subject.sub! '[nombre]', @subscriber.name %></h1>
    <%= Setting.first.welcome.html_safe %>
  </body>
</html>
