<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @subscriber.name %>, te damos la bievenida a Belly Dance Magazine</h1>
    <%= Setting.first.welcome.html_safe %>
  </body>
</html>
