fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;

  background-color: white;
  border: thin solid #ddd;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    background-image:
      linear-gradient(45deg, blue 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, blue 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: blue;
    outline: 0;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.msform {
	width: 100%;
	margin: 0;
	text-align: center;
	position: relative;
  border-top: solid 1px #ddd;

  @include mq("tablet") {
    margin: 50px auto;
    border-top: 0;
  }

  @include clearfix;

  fieldset {
  	border: 0 none;
  	padding: 20px 30px;
  	box-sizing: border-box;
  	margin: 0;

  	/*stacking fieldsets above each other*/
  	position: relative;
  }
  /*Hide all except first fieldset*/
  fieldset:not(:first-of-type) {
  	display: none;
  }
  /*inputs*/
  input, textarea {
  	padding: 15px;
  	border: 1px solid #ccc;
  	border-radius: 3px;
  	margin-bottom: 10px;
  	width: 100%;
  	box-sizing: border-box;
  	font-family: montserrat;
  	color: #2C3E50;
  	font-size: 13px;
  }
  /*buttons*/
  .action-button {
    height: 50px;
  	width: 50px;
  	background-image: image-url("next.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    text-indent: -9999em;
    border: 0;
    border-radius: 50%;
    float: right;

    &.submit {
      background-image: image-url("done.svg");
    }
  }
  .action-button:hover, .action-button:focus {
  	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    border-color: red;
  }
  /*headings*/
  .fs-title {
  	font-size: 15px;
  	text-transform: uppercase;
  	color: #2C3E50;
  	margin-bottom: 10px;
  }
  .fs-subtitle {
  	font-weight: normal;
  	font-size: 13px;
  	color: #666;
  	margin-bottom: 20px;
  }
  /*progressbar*/
  #progressbar {
  	margin-bottom: 30px;
  	overflow: hidden;
  	/*CSS counters to number the steps*/
  	counter-reset: step;
  }
  #progressbar li {
  	list-style-type: none;
  	color: white;
  	text-transform: uppercase;
  	font-size: 9px;
  	width: 16.66666%;
  	float: left;
  	position: relative;
  }
  #progressbar li:before {
  	content: counter(step);
  	counter-increment: step;
  	width: 20px;
  	line-height: 20px;
  	display: block;
  	font-size: 10px;
  	color: #333;
  	background: white;
  	border-radius: 3px;
  	margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
  	content: '';
  	width: 100%;
  	height: 2px;
  	background: white;
  	position: absolute;
  	left: -50%;
  	top: 9px;
  	z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
  	/*connector not needed before the first step*/
  	content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
  	background: #27AE60;
  	color: white;
  }

  input[type="checkbox"] {
    float: left;
    width: auto;
    display: block;
    margin-top: 7px;
  }

  input[type="submit"] {
    font-size: 25px;
  }

  h2, label {
    text-align: left;
  }

  label:after {
    display: none;
    content: '?';
    font-size: .7em;
    border: solid 1px #ddd;
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    color: #ddd;
    margin-left: 8px;
    text-align: center;
    line-height: 1.2em;
    margin-top: -5px;
  }
}

.tos-checbox {
  margin-bottom: 15px;
  text-align: left;
}

.hint {
  display: none;
  background: rgba(0,0,0,.7);
  border-radius: 10px;
  padding: 8px 15px;
  color: #fff;
  float: left;
  position: relative;

  &:after {
  	bottom: 100%;
  	left: 10%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(136, 183, 213, 0);
  	border-bottom-color: rgba(0,0,0,.7);
  	border-width: 8px;
  	margin-left: -8px;
  }
}
