body, html{
  //background:url(../images/bg.jpg);
  //background:red;
  @include clearfix;
}


.registro{
  min-height: 100%;
  a{
    text-align: center;
    display: block;
    font-size: 2em;
    color: #666;
    font-weight: bold;
    &:hover{
      color: #000;
    }
  }
}

.main.container{
  min-height: 100vh;
}

.form-container, .image-container {
  width: 50%;
  float: left;
}

.form-container {
  padding: 0 10px;
}

.image-container {
  background: #ddd;
  height: 100vh;
}
