body, html{
  //background:url(../images/bg.jpg);
  //background:red;
  @include clearfix;
}


.registro{
  min-height: 100%;
  a{
    text-align: center;
    display: block;
    font-size: 2em;
    color: #666;
    font-weight: bold;
    &:hover{
      color: #000;
    }
  }
}

.main.container{
  min-height: 100vh;
}

.form-container, .image-container {
  box-sizing: border-box;
  float: left;
  height: auto;
  width: 100%;
  text-align: center;

  @include mq("tablet") {
    height: 100vh;
    width: 50%;
  }

  .logo {
    margin-bottom: 20px;
    @include mq("tablet") {
      margin-bottom: 0;
    }
  }
}

.form-container {
  @include mq("tablet") {
    padding: 0 30px;
  }
}

.image-container {
  background: #ddd;

  img {
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}

.terms {
  text-align: left;
}
