html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container{
  //@include grid-container;
  //max-width: 1260px;
  margin: 0 auto;
}
