<section id="categories">
  <h2>Vota por tu bailarina favorita</h2>
  <% Category.all.each do |category| %>
    <div><%= link_to category.title, category_path(category.slug) %></div>
  <% end %>
</section>
