<div class="registro">
<%= link_to("Registrame como participante", new_participant_path, :class=> 'button') %><br/>
<%= link_to("Registrarme para votar por una participante", new_user_registration_path, :class=> 'button') %>
</div>
