<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="http://www.expobellydance.com/info.html" target="_blank">Información</a></li>
        <li><a href="http://www.expobellydance.com/reglamento.html" target="_blank">Reglamento oficial</a></li>
        <li><a href="http://www.expobellydance.com/competencia.html" target="_blank">La competetencia</a></li>
      </ul>

      <ul class="footer-social">
        <li>
          <a href="https://www.facebook.com/pages/Expo-Belly-Dance/925983624121097?ref=hl" target="_blank">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/ExpoBellyDance" target="_blank">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
          </a>
        </li>
      </ul>
    </div>
</footer>
